In [ ]:
#calling on series to find the median of mortgage and income for the years 2011 to 2019
national_df = df[['2019 Household Income', '2019 Median Mortgage Cost', 
         '2018 Household Income', '2018 Median Mortgage Cost', 
         '2017 Household Income', '2017 Median Mortgage Cost', 
         '2016 Household Income', '2016 Median Mortgage Cost', 
         '2015 Household Income', '2015 Median Mortgage Cost',
         '2014 Household Income', '2014 Median Mortgage Cost', 
         '2013 Household Income', '2013 Median Mortgage Cost', 
         '2012 Household Income', '2012 Median Mortgage Cost', 
         '2011 Household Income', '2011 Median Mortgage Cost']].median()
national_df

In [ ]:
# creating a variable "National" that includes all states and DC

National = ["Region": "Northeast", "South", "Midwest", "West"]

In [ ]:
# creating a dictionary 

{"Region", ['West': "AK", "HI", "CA", "NV", "OR", "WA", "ID", "MT", "CO", "WY", "UT", "AZ", "NM"],

['Midwest': "ND", "SD", "NE", "KS", "MN", "IA", "MO", "WI", "IL", "MI", "IN", "OH"],

['South': "[TX", "OK", "AR", "LA", "AL", "MI", "GA", "FL", "KY", "TN", "NC", "SC" "VA", "WV"],

['Northeast' = ["ME", "NH", "VT", "MA", "CT", "RI", "NY", "PA", "NJ", "MD", "DE", "DC"]
 }

In [ ]:
#Creating a new column called "Region" to store assigned variables
df = df.assign("Region" = "State")

In [ ]:
# looping through the states to assign a region
Loop through df.state
    For value in df.state
        If 
            df.state = df.state("AK", "HI", "CA", "NV", "OR", "WA", "ID", "MT", "CO", "WY", "UT", "AZ", "NM")
               Then print "West" in df.series("Region")
            df.state = df.state("ND", "SD", "NE", "KS", "MN", "IA", "MO", "WI", "IL", "MI", "IN", "OH")
               Else print "Midwest" in df.series("Region")
            df.state = df.state("TX", "OK", "AR", "LA", "AL", "MI", "GA", "FL", "KY", "TN", "NC", "SC" "VA", "WV")
               Else print "South" in df.series("Region")
            df.state = df.state("ME", "NH", "VT", "MA", "CT", "RI", "NY", "PA", "NJ", "MD", "DE", "DC")
               Else print "Northeast" in df.series("Region")
                    #Now that we have regions defined, we need to calculate the median mortgage and income
                    #for each year in the data series 
                    
            Elseif
        End
    Exit

In [ ]:
#grouping dataframe by year and region to loop through and calculate median income and mortgage payment for each re
groupby_year_df = condensed_df({'Year' : ['2011', '2012', '2013', '2014',
                                                              '2015', '2016', '2017', '2018', '2019'],
                                                        'Region': ['West', 'Midwest', 'South', 'North']})
    groupby region
        for "Median Household Income" in df[['West', 'Midwest', 'South', 'Northeast']].median()
        for "Median Mortgage Payment" in df[['West', 'Midwest', 'South', 'Northeast']].median()

In [ ]:
# creating new dataframe that contains state, region, median income, median mortgage, and year
# extracting the columns: "Year", "region", "state", "median household income", "median mortgage payment"
reduced_df = combined_df[["Year", "Region", "State", "Median household income", 
                          "Median mortgage payment"]]
reduced_df.head()

In [1]:
# creating new data frame for national median groupby year

NameError: name 'clean_df' is not defined

In [ ]:
# getting national median household incomes and 

median_housing2011 = df.series.median("median mortgage 2011")
median_housing2012 = df.series.median("median mortgage 2012")
median_housing2013 = df.series.median("median mortgage 2013")
median_housing2014 = df.series.median("median mortgage 2014")
median_housing2015 = df.series.median("median mortgage 2015")
median_housing2016 = df.series.median("median mortgage 2016")
median_housing2017 = df.series.median("median mortgage 2017")
median_housing2018 = df.series.median("median mortgage 2018")
median_housing2019 = df.series.median("median mortgage 2019")

median_income2011 = df.series.median("median household income 2011")
median_income2012 = df.series.median("median household income 2012")
median_income2013 = df.series.median("median household income 2013")
median_income2014 = df.series.median("median household income 2014")
median_income2015 = df.series.median("median household income 2015")
median_income2016 = df.series.median("median household income 2016")
median_income2017 = df.series.median("median household income 2017")
median_income2018 = df.series.median("median household income 2018")
median_income2019 = df.series.median("median household income 2019")

In [ ]:
# variables added median national and regional values for income and housing expenses
Loop through df.series(year)
    For new value in year
        df = df.assign(median_percentage = df.median_housing/df.median_income, )
df = df.assign["Median Income 20X()"]